.app{
    width: 100%;
    height: 100%;
    overflow-y : scroll;
}

.main {
    width: 100%;
    height: 90%;
    background-color: rgb(236, 236, 236);
}

footer{
    width: 100%;
    height: 10%;
    border-top: 1px solid rgb(204, 204, 204);
}
