.ul{
    margin: 0px;
}
.li{
    display: flex;
    background-color: white;
    padding: 5px 10px;
}
.li:first-of-type{
    border-bottom : 1px solid lightgray;
    border-top : 1px solid lightgray;
}
.li{
    border-bottom : 1px solid lightgray;
}

.li > div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 20px;
}

.li > div:first-of-type{
    align-items: baseline;
    flex-direction: column;
    color : black;
}

.li > div:first-of-type span:first-of-type{
    font-size: 0.9rem;
}

.li > div:first-of-type span:last-of-type{
    font-size: 0.8rem;
}

.expense{
    background-color: var(--ih-red);
    padding : 5px 10px;
    text-align: right;
    color: white;
    border-radius: 5px;
    font-size: 0.9rem;
    padding-top: 7px;
    font-weight: normal;
}

.income{
    background-color: var(--ih-green);
    font-size: 0.9rem;
    padding : 5px 10px;
    padding-top: 7px;
    font-weight: normal;
    text-align: right;
    color: white;
    border-radius: 5px;
}

.debt{
    color: var(--ih-red);
    font-weight: lighter;
    font-size: 0.9rem !important;
    margin-top: 1px;
}

.asset{
    color: var(--ih-green);
    font-weight: lighter;
    font-size: 0.9rem !important;
    margin-top: 1px;
}

